<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150262444258-cqhl7dvqpqsv02vrv4ppvunqnge6r4g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150262444258-cqhl7dvqpqsv02vrv4ppvunqnge6r4g1</string>
	<key>API_KEY</key>
	<string>AIzaSyCmHOJYWwxQmtJEzbLRLpD3yYwfXa04L-s</string>
	<key>GCM_SENDER_ID</key>
	<string>150262444258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>maniyar.Flik-Task</string>
	<key>PROJECT_ID</key>
	<string>fliktask</string>
	<key>STORAGE_BUCKET</key>
	<string>fliktask.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150262444258:ios:e103333afd01c5cb2a2ebb</string>
	<key>DATABASE_URL</key>
	<string>https://fliktask.firebaseio.com</string>
</dict>
</plist>